body{
  scroll-behavior: smooth;
}

.bg-color{
  background-color: #CE5A67;
}

.bg-color2{
  background-color: #f5f0f0;
}

.content-color{
  color: #CE5A67;
}

.content-color2{
  color: #ffffff;
}

.content:hover{
  
  color: #CE5A67;
  background-color: #ffffff;
}

.content2:hover{
  
  color: #ffffff;
  background-color: #CE5A67;
  border: 1px solid #CE5A67;
}

@media (max-width: 767px) {
  .nav-btn {
    display: none;
  }
}

@media (max-width: 767px) {
  .card-pos{
    margin-top: 50px;
  }
}

/* styles.css */
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* Change to your desired background color */
  color: #CE5A67 !important; /* Change to your desired text color */
  z-index: 1000;
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
}

.border-pink{
  border: 1px solid #CE5A67;
  background-color: #ffffff;
  color:#CE5A67;
}

.scroll-effect:hover{
  border-bottom: 1px solid #CE5A67;
  color:#CE5A67;
}

.effect:hover{
  border-bottom: 1px solid #ffffff;
  
}

.card-tran:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.over-btn:hover{
  border: 1px solid #CE5A67!important;
  color: #CE5A67!important;
  background-color: #ffffff;
}

.link11{
  text-decoration: none;
}